{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Fadokun Oluwatobi - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Resume of Fadokun Oluwatobi."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Fadokun Oluwatobi" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Fadokun Oluwatobi</h1>
			<h2 class="quickFade delayThree">Network Support Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:tofad055@gmaill.com" target="_blank">tofad055@gmail.com</a></li>
				<li>w: <a href="http://www.tofad055.com">www.tofad055.com</a></li>
				<li>m: +2347067352264</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am an IT professional interested in obtaining a developmental position, with my vast experience in the IT Sector, to play an active role in a challenging environment that focuses on the applications of technology to Enterprise Management, Distributed Computing, e-Business, System Support, Engineering and Design.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>IT/Network Support Engineer at Rexxys Systems</h2>
					<p class="subDetails">November 2018 – Till Date</p>
					<p>Responsibilities: <br>

						•	Provide Technical support for other teams and clients.<br>
						•	Identify departmental needs and make suggestions regarding technical direction.<br>
						•	Perform tech-heavy investigations and resolve complex support escalations<br>
						•	Troubleshooting tasks related to the components for Local Area Networks, Wide
						Area Networks and AV systems.<br>
						•	Conduct Daily/ Weekly and Monthly System Health checklist<br>
						•	Ensure that all servers are protected by the latest anti-virus software.<br>
						•	Diagnosing and fixing network problems, hardware or software faults<br>
						•	Maintaining inventories of hardware and software<br>
						•	Monitor, Maintain, and Manage all servers and network devices at a site to keep them running properly<br>
						•	Keeping a record of issues and faults along with solutions, for future reference.
						</p>
				</article>
				
				<article>
					<h2>Internship/Training at Neonet Wireless Ltd</h2>
					<p class="subDetails">August 2017 – September 2018</p>
					<p>Responsibilities: <br>
						•	I was practically trained on Cisco Routing and Switching Technologies.<br>
						•	I was practically trained on CCTV/IP Camera Installation.<br>
						•	I was practically trained on Fiber Optics Transmission Engineering.
						</p>
				</article>
				
				<article>
					<h2>IT Support Engineer at Fadoc Globalink Ltd</h2>
					<p class="subDetails">January 2012 – December 2014</p>
					<p>Responsibilities: <br>
						•	Day to day administration and monitoring of network use.<br>
						•	Manage security options and software in computers and networks to maintain privacy and protection from attacks.<br>
						•	Training staff on new systems.<br>
						•	Technical support for people using the network.<br>
						•	Troubleshoot and Repair Faulty Hardware and Software.<br>
						•	Troubleshooting tasks related to the components for Local Area Networks, Wide
						Area Networks and voice systems.<br>
						•	Installing new software and hardware (servers, printers, computer work stations etc)
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="clear">
					<p>
					•	Networking- general knowledge of devices, LAN/WAN concepts, Routing, Switching. <br>
					•	Active Directory – concept, topology, general admin tasks <br>
					•	Virtualization – (VMware,  Microsoft HyperV etc) <br>
					•	Strong Linux and Windows skills. <br>
					•	Have a basic background in modern web technologies like HTML, CSS, Python. <br>
					•	Experience with GSuite, Teams, Sharepoint and Onedrive. <br>
					•	Azure – general configuration, VMs, Deployments and scaling <br>
					•	Closed-Circuit Television (CCTV) Deployment and maintenance.
					</p>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>National Open University of Nigeria</h2>
					<p class="subDetails">PGD Mobile (wireless) Communication Technology</p>
					<p>2017.</p>
				</article>
				
				<article>
					<h2>University of Port Harcourt</h2>
					<p class="subDetails">B.Sc Computers Science and Mathematics</p>
					<p>2008.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>